---
type BootstrapColor =
  | "primary"
  | "secondary"
  | "success"
  | "danger"
  | "warning"
  | "info"
  | "light"
  | "dark"
  | "link";

type BootstrapOutlineColors = `outline-${BootstrapColor}`;
type BootstrapInverseColors = `inverse-${BootstrapColor}`;

export interface Props {
  href?: string;
  icon: string;
  variant?: BootstrapColor | BootstrapOutlineColors | BootstrapInverseColors;
  size?: "sm" | "md" | "lg";
  class?: string;
}

const {
  href = undefined,
  icon,
  variant = "primary",
  size = "md",
  class: classes = "",
} = Astro.props;
---

<a
  href={href}
  class:list={[
    "btn d-flex align-items-center rounded-pill gap-2",
    `btn-${variant}`,
    {
      "btn-sm": size === "sm",
      "btn-lg": size === "lg",
    },
    classes,
  ]}
>
  <i class="material-icons-outlined">{icon}</i>
  <slot />
</a>

<style>
  .btn-danger {
    --bs-btn-color: white;
    --bs-btn-bg: #fc185a;
    --bs-btn-border-color: #fc185a;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #ef0e4e;
    --bs-btn-hover-border-color: #ef0e4e;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #ef0e4e;
    --bs-btn-active-border-color: #ef0e4e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: #fc185a;
    --bs-btn-disabled-border-color: #fc185a;
  }

  .btn-inverse-danger {
    --bs-btn-color: #fc185a;
    --bs-btn-bg: rgb(252 24 90 / 10%);
    --bs-btn-border-color: rgb(252 24 90 / 0%);
    --bs-btn-hover-color: #fc185a;
    --bs-btn-hover-bg: rgb(252 24 90 / 20%);
    --bs-btn-hover-border-color: rgb(239 14 78 / 0%);
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fc185a;
    --bs-btn-active-bg: rgb(252 24 90 / 20%);
    --bs-btn-active-border-color: rgb(252 24 90 / 0%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: #fc185a;
    --bs-btn-disabled-border-color: #fc185a;
  }

  .btn-outline-danger {
    --bs-btn-color: #fc185a;
    --bs-btn-border-color: #fc185a;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #fc185a;
    --bs-btn-hover-border-color: #fc185a;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #fc185a;
    --bs-btn-active-border-color: #fc185a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fc185a;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #fc185a;
    --bs-gradient: none;
  }

  .btn-success {
    --bs-btn-color: white;
    --bs-btn-bg: #02c27a;
    --bs-btn-border-color: #02c27a;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #04a96c;
    --bs-btn-hover-border-color: #04a96c;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #04a96c;
    --bs-btn-active-border-color: #04a96c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: #02c27a;
    --bs-btn-disabled-border-color: #198754;
  }

  .btn-inverse-success {
    --bs-btn-color: #02c27a;
    --bs-btn-bg: rgb(2 194 122 / 10%);
    --bs-btn-border-color: rgb(2 194 122 / 0%);
    --bs-btn-hover-color: #02c27a;
    --bs-btn-hover-bg: rgb(2 194 122 / 20%);
    --bs-btn-hover-border-color: rgb(2 194 122 / 0%);
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #02c27a;
    --bs-btn-active-bg: rgb(2 194 122 / 20%);
    --bs-btn-active-border-color: rgb(2 194 122 / 0%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: #02c27a;
    --bs-btn-disabled-border-color: #198754;
  }

  .btn-outline-success {
    --bs-btn-color: #02c27a;
    --bs-btn-border-color: #02c27a;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #02c27a;
    --bs-btn-hover-border-color: #02c27a;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #02c27a;
    --bs-btn-active-border-color: #02c27a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #02c27a;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #02c27a;
    --bs-gradient: none;
  }

  .btn-inverse-primary {
    --bs-btn-color: #0d6efd;
    --bs-btn-bg: rgb(13 110 253 / 10%);
    --bs-btn-border-color: rgb(13 110 253 / 0%);
    --bs-btn-hover-color: #0d6efd;
    --bs-btn-hover-bg: rgb(13 110 253 / 20%);
    --bs-btn-hover-border-color: rgb(13 110 253 / 0%);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #0d6efd;
    --bs-btn-active-bg: rgb(13 110 253 / 20%);
    --bs-btn-active-border-color: rgb(13 110 253 / 0%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
  }

  .btn-inverse-info {
    --bs-btn-color: #0dcaf0;
    --bs-btn-bg: rgb(13 202 240 / 10%);
    --bs-btn-border-color: rgb(13 202 240 / 0%);
    --bs-btn-hover-color: #0dcaf0;
    --bs-btn-hover-bg: rgb(13 202 240 / 20%);
    --bs-btn-hover-border-color: rgb(13 202 240 / 0%);
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #0dcaf0;
    --bs-btn-active-bg: rgb(13 202 240 / 20%);
    --bs-btn-active-border-color: rgb(13 202 240 / 0%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: black;
    --bs-btn-disabled-bg: #0dcaf0;
    --bs-btn-disabled-border-color: #0dcaf0;
  }

  .btn-inverse-warning {
    --bs-btn-color: #ffc107;
    --bs-btn-bg: rgb(255 193 7 / 10%);
    --bs-btn-border-color: rgb(255 193 7 / 0%);
    --bs-btn-hover-color: #ffc107;
    --bs-btn-hover-bg: rgb(255 193 7 / 20%);
    --bs-btn-hover-border-color: rgb(255 193 7 / 0%);
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #ffc107;
    --bs-btn-active-bg: rgb(255 193 7 / 20%);
    --bs-btn-active-border-color: rgb(255 193 7 / 0%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
  }

  .btn-inverse-dark {
    --bs-btn-color: #212529;
    --bs-btn-bg: rgb(33 37 41 / 10%);
    --bs-btn-border-color: rgb(33 37 41 / 0%);
    --bs-btn-hover-color: #212529;
    --bs-btn-hover-bg: rgb(33 37 41 / 20%);
    --bs-btn-hover-border-color: rgb(33 37 41 / 0%);
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #212529;
    --bs-btn-active-bg: rgb(33 37 41 / 20%);
    --bs-btn-active-border-color: rgb(33 37 41 / 0%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
  }

  .btn-inverse-secondary {
    --bs-btn-color: #6c757d;
    --bs-btn-bg: rgb(108 117 125 / 10%);
    --bs-btn-border-color: rgb(108 117 125 / 0%);
    --bs-btn-hover-color: #6c757d;
    --bs-btn-hover-bg: rgb(108 117 125 / 20%);
    --bs-btn-hover-border-color: rgb(108 117 125 / 0%);
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #6c757d;
    --bs-btn-active-bg: rgb(108 117 125 / 20%);
    --bs-btn-active-border-color: rgb(108 117 125 / 0%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
  }
</style>
